@import "../css/typography.css";

body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: 'Incredible', 'Arial', sans-serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  font-size: 1.5rem;
}

.container {
  margin: auto;
  max-width: 800px;
}

.content {
  display: flex;
}

.site-title {
  font-size: 5rem;
  color: gray;
  margin: 3rem 0;
  background-image: url(../images/title-bg.jpg);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 24px 0 16px 150px;
}

.heading {
  color: rebeccapurple;
}

.nav-links {
  list-style: none;
  padding-left: 0;
  padding-right: 2rem;
}

.nav-link-item {
  margin-bottom: 1rem;
}

.nav-link-text {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}
